<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% placeholder seo %}
    {% placeholder og %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/img/favicon/apple-touch-icon.png'|theme}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/favicon/favicon-32x32.png'|theme}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/favicon/favicon-16x16.png'|theme}}">
    <link rel="manifest" href="{{'/assets/img/favicon/site.webmanifest'|theme}}">
    <link rel="mask-icon" href="{{'/assets/img/favicon/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{'/assets/img/favicon/favicon.ico'|theme}}">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="{{'/assets/img/favicon/browserconfig.xml'|theme}}">
    <meta name="theme-color" content="#ffffff">
    {% partial 'styles' %}
</head>